@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-base text-slate-100 antialiased;
}

input, select, textarea {
  @apply bg-slate-900 border border-slate-700 rounded-lg px-3 py-2 text-sm;
}

button {
  @apply transition;
}
